<!-- ###TEMPLATE_RSS091### begin --><?xml version="1.0" encoding="ISO-8859-1"?>
<rss version="0.91">
	<channel>
		<!-- ###HEADER### begin -->
		<title>###SITE_TITLE###</title>
		<link>###SITE_LINK###</link>
		<description>###SITE_DESCRIPTION###</description>
		<language>###SITE_LANG###</language>
		<image>
			<title>###SITE_TITLE###</title>
			<url>###IMG###</url>
			<link>###SITE_LINK###</link>
			<width>###IMG_W###</width>
			<height>###IMG_H###</height>
			<description>###SITE_DESCRIPTION###</description>
		</image>
		<docs>http://backend.userland.com/rss091</docs>
		###ITEM_COPYRIGHT###
		###ITEMS_WEBMASTER###
		###ITEM_MANAGINGEDITOR###
		###ITEMS_LASTBUILD###
		<!-- ###HEADER### end -->
		<!-- ###CONTENT### begin -->
		<!-- ###WORKSHOP### begin -->
		<item>
			<title>###ITEM_TITLE###</title>
			<link>###ITEM_LINK###</link>
			<description>###ITEM_SUBHEADER###</description>
		</item>
		<!-- ###WORKSHOP### end -->
		<!-- ###CONTENT### end -->
	</channel>
</rss><!-- ###TEMPLATE_RSS091### end -->
