<!-- ###TEMPLATE_RSS2### begin --><?xml version="1.0" encoding="ISO-8859-1"?>
<rss version="2.0">
	<channel>
		<!-- ###HEADER### begin -->
		<title>###SITE_TITLE###</title>
		<link>###SITE_LINK###</link>
		<description>###SITE_DESCRIPTION###</description>
		<language>###SITE_LANG###</language>
		<image>
			<title>###SITE_TITLE###</title>
			<url>###IMG###</url>
			<link>###SITE_LINK###</link>
			<width>###IMG_W###</width>
			<height>###IMG_H###</height>
			<description>###SITE_DESCRIPTION###</description>
		</image>
		<generator>TYPO3 - get.content.right</generator>
		<docs>http://blogs.law.harvard.edu/tech/rss</docs>
		###ITEM_COPYRIGHT###
		###ITEM_WEBMASTER###
		###ITEMS_MANAGINGEDITOR###
		###ITEM_LASTBUILD###
		<!-- ###HEADER### end -->
		<!-- ###CONTENT### begin -->
		<!-- ###WORKSHOP### begin -->
		<item>
			<title>###ITEM_TITLE###</title>
			<link>###ITEM_LINK###</link>
			<description>###ITEM_SUBHEADER###</description>
			<category>###ITEM_CATEGORY###</category>
			###ITEM_AUTHOR###
			<pubDate>###ITEM_DATE###</pubDate>
		</item>
		<!-- ###WORKSHOP### end -->
		<!-- ###CONTENT### end -->
	</channel>
</rss><!-- ###TEMPLATE_RSS2### end -->